h1{text-align: center;font-weight:bold ; color: #0000FF;font-family:Verdana;font-size: 20pt}
h2{text-align: right;font-weight:bold ; color:  #800000;font-family:Verdana;font-size: 16pt}
p{text-align:  justify;color:  #191970;font-family:Arial;font-size: 12pt}
body{background-color:#99CCFF}
body {background-attachment:fixed; background-image: url(fon9.jpg)}
h3{text-align:  justify;font-weight:bold ; color:#0000FF;font-family:Verdana;font-size: 14pt}
ol{list-style-type: upper-roman}
ul{list-style-image:url(spisok_1.gif)}


h1.main,h1.golub,h1.krasn,h1.zelen,h1.oranzhev{
color: navy;font-family: Verdana;text-align: left;font-size: 14pt;
}
h1.main{color: navy}
h1.golub{color: blue}
h1.krasn{color: red}
h1.zelen{color: green}
h1.oranzhev{color: orange}
p.main_1{color: navy;text-align: center;font-size: 12pt;font-family: Arial;}
p.golub_1{color: blue;text-align: right;font-size: 15pt;font-family: Arial;}
p.krasn_1{color: red;text-align: left;font-size: 13pt;font-family: Verdana;}
p.zelen_1{color: green;text-align: justify;font-size: 14pt;font-family: Verdana;}
p.oranzhev_1{color: orange;text-align: center;font-size: 14pt;font-family: Arial;}

